*{
    outline: 1px dotted #666;
}
html{
    font-size: 16px;
}
a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
}
.container{
    width: 1296px;
    margin: 0 auto;
    padding: 0 12px;
}
.flex{
    display: flex;
}
.jcsb{
    justify-content: space-between;
}
.bgc-red{
    background-color: #AA0601;
}
.darkred{
    background-color: #650300;
}
.pt96-pb64{
    padding-top: 96px;
    padding-bottom: 64px;
}
.mb32{
    margin-bottom: 32px;
}
.pb60{
    padding-bottom: 60px;
}
.wd636{
    width: 636px;
}
.mb80{
    margin-bottom: 80px;
}
.pt48-pb32{
    padding-top: 48px;
    padding-bottom: 32px;
}
.mb24{
    margin-bottom: 24px;
}
.mb8{
    margin-bottom: 8px;
}
.pb32{
    padding-bottom: 32px;
    border-bottom: 1px solid #fff;
}

h1{
    font-size: 3rem;
    line-height: 72px;
    font-weight: bold;
    border-left: 8px solid #9F1213;
    padding-left: 16px;
}
h2{
    font-size: 2rem;
    line-height: 48px;
    color: #650300;
}
p{
    font-size: 1.25rem;
    line-height: 30px;
}
.more{
    font-size: 2.25rem;
    line-height: 54px;
}
.header img{
    width: 80px;
    height: auto;
    display: block;
    padding: 12px 0;
}
.header a{
    line-height: 80px;
    padding: 0 32px;
}
.header a, .list a{
    font-size: 1.25rem;
}
.list a{
    font-weight: bold;
}
/* .header .pr0{
    padding-right: 0;
} */
.list a{
    padding: 0 24px;
    line-height: 56px;
}
.content img{
    width: 49%;
    height: auto;
}
.content .object{
    width: 49%;
}
.content .mb16{
    margin-bottom: 16px;
}
.content .bold{
    font-weight: bold;
}
.content .object{
    flex-direction: column;
}
.content .d-ib{
    display: inline-block;
}
.content .fzsm{
    font-size: 1rem;
    line-height: 30px;
}
.content .tajf{
    text-align: justify;
}
.content .more{
    flex-direction: row;
    justify-content: flex-end;
}
.content a{
    width: 110px;
    color: #650300;
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.page .jcc{
    justify-content: center;
}
.page a{
    font-size: 19px;
    color: #555555;
    border: 1px solid #555555;
    padding: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer p, .footer a{
    color: #fff;
}
.footer .link a{
    line-height: 48px;
    padding: 0 12px;
}
.footer .iconimg img{
    display: block;
    width: 48px;
    height: 48px;
}
.footer .connect p{
    font-size: 2.25em;
    line-height: 56px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.footer .copy a{
    padding-left: 48px;
    line-height: 30px;
}
.list .pl0, .footer .link .pl0{
    padding-left: 0;
}
.header .pr0, .footer .iconimg .pr0{
    padding-right: 0;
}
@media (max-width:992px) {
    .container{
        width: 696px;
    }
    .content img, .content .object{
        width: 49%;
    }
    .content p{
        font-size: 1rem;
    }
}
@media (max-width:767px) {
    .container{
        width: 349px;
    }
}